*.png
src/__pycache__
src/uh2sc.egg-info
tests/__pycache__
src/uh2sc/__pycache__
.DS_Store
helpers/.DS_Store
helpers/2022-HANEtal_Model_pressure.csv
helpers/2022_Han_Change_of_mass.csv
helpers/2022_Han_PressureData.csv
helpers/__pycache__/
helpers/edit_dataset_dialog.ui
helpers/emulator_100.joblib
helpers/emulator_1000.joblib
helpers/emulator_10000.joblib
helpers/emulator_100000.joblib
helpers/get_points.py
helpers/mainwindow.ui
helpers/salt_cavern_training_dataset.csv
helpers/salt_cavern_training_dataset_100.csv
helpers/salt_cavern_training_dataset_1000.csv
helpers/salt_cavern_training_dataset_10000.csv
helpers/salt_cavern_training_dataset_100000.csv
helpers/salt_cavern_training_dataset_y_vals_100.csv
src/.DS_Store
src/uh2sc/.DS_Store
src/uh2sc/untitled1.py
tests/.DS_Store
tests/H2_30_output.txt
tests/H2_360_output.txt
tests/H2_90_output.txt
tests/Methane_30_output.txt
tests/Methane_360_output.txt
tests/Methane_90_output.txt
tests/data.csv
tests/salt_cavern_test_profile.txt
tests/test_data/.DS_Store
tests/uh2sc_results.csv
