*.png
src/__pycache__
src/uh2sc.egg-info
tests/__pycache__
src/uh2sc/__pycache__
.DS_Store
helpers/.DS_Store
helpers/2022-HANEtal_Model_pressure.csv
helpers/2022_Han_Change_of_mass.csv
helpers/2022_Han_PressureData.csv
helpers/__pycache__/
helpers/edit_dataset_dialog.ui
helpers/emulator_100.joblib
helpers/emulator_1000.joblib
helpers/emulator_10000.joblib
helpers/emulator_100000.joblib
helpers/get_points.py
helpers/mainwindow.ui
helpers/salt_cavern_training_dataset.csv
helpers/salt_cavern_training_dataset_100.csv
helpers/salt_cavern_training_dataset_1000.csv
helpers/salt_cavern_training_dataset_10000.csv
helpers/salt_cavern_training_dataset_100000.csv
helpers/salt_cavern_training_dataset_y_vals_100.csv
src/.DS_Store
src/uh2sc/.DS_Store
src/uh2sc/untitled1.py
tests/.DS_Store
tests/H2_30_output.txt
tests/H2_360_output.txt
tests/H2_90_output.txt
tests/Methane_30_output.txt
tests/Methane_360_output.txt
tests/Methane_90_output.txt
tests/data.csv
tests/salt_cavern_test_profile.txt
tests/test_data/.DS_Store
tests/uh2sc_results.csv
.coverage*
tests/2008_Nieland_Fig15_12_cycles_per_year._results.csv
tests/nielson_verification_H2_30.log
tests/verification_test_profile_08042025.txt
2008_Nieland_Fig13_12_cycles_per_year_results.csv
2008_Nieland_Fig13_1_cycle_per_year_results.csv
2008_Nieland_Fig13_4_cycles_per_year_results.csv
2008_Nieland_Fig15_12_cycles_per_year_results.csv
2008_Nieland_Fig15_1_cycle_per_year_results.csv
2008_Nieland_Fig15_4_cycles_per_year_results.csv
H2_30_output.txt
H2_360_output.txt
H2_90_output.txt
Methane_30_output.txt
Methane_90_output.txt
docs/build/
nielson_verification_H2_30.log
nielson_verification_H2_360.log
nielson_verification_H2_90.log
nielson_verification_Methane_30.log
nielson_verification_Methane_360.log
nielson_verification_Methane_90.log
src/uh2sc/.gitkeep
test_mdot_accuracy.log
tests/2008_Nieland_Fig13_12_cycles_per_year._results.csv
tests/2008_Nieland_Fig13_12_cycles_per_year_results.csv
tests/2008_Nieland_Fig13_1_cycle_per_year._results.csv
tests/2008_Nieland_Fig13_1_cycle_per_year_results.csv
tests/2008_Nieland_Fig13_4_cycles_per_year._results.csv
tests/2008_Nieland_Fig13_4_cycles_per_year_results.csv
tests/2008_Nieland_Fig15_12_cycles_per_year_results.csv
tests/2008_Nieland_Fig15_1_cycle_per_year._results.csv
tests/2008_Nieland_Fig15_1_cycle_per_year_results.csv
tests/2008_Nieland_Fig15_4_cycles_per_year._results.csv
tests/2008_Nieland_Fig15_4_cycles_per_year_results.csv
tests/nielson_verification_H2_360.log
tests/nielson_verification_H2_90.log
tests/nielson_verification_Methane_30.log
tests/nielson_verification_Methane_360.log
tests/nielson_verification_Methane_90.log
tests/test_data/main_test_delete_me_log.log
tests/test_data/nieland_verification_h2_SHORT.pickle
tests/test_data/uh2sc.log
tests/test_data/uh2sc_results.csv
tests/test_mdot_accuracy.log
uh2sc_results.csv
